*{
  box-sizing: border-box;
}
body{
  height: 90vh;
  display: flex;  
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/10050537/pexels-photo-10050537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
}
.container{
  color: #fff;
  width: 400px;
  height: 400px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(255, 255, 255, 0.23);
padding: 15px;
margin: 10px;
}
.settings{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setting{
  padding: 5px;
}
#generatePassword{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.result{
  margin: 8px 55px;
}
#password-res{
  padding: 8px;
  margin: 7px 35px;
}
